h1 { font-family: Ubuntu; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700;  

  text-align: center;
} 

h3 { font-family: Ubuntu; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; 

  text-align: center;
} 
p { font-family: Ubuntu; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 40px; } 
blockquote { font-family: Ubuntu; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Ubuntu; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; } 

html {

    font-family: Ubuntu;
background: linear-gradient(180deg, rgba(217,213,216,.1) 0%, rgba(133,129,129,1) 100%);
  margin-right: 350px;
  overflow-x: hidden;
}

body {

}
img {

  position:relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}
h1 {
	line-height: 5vw;
    font-size:10vh;
    background: linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(133, 129, 129,1) 100%);
}
#final {
    background: linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(133, 129, 129,1) 100%);

}
#sun {
    position:absolute;
    right:0%;
    height:150%;
    z-index:0;
}
#rot {
  transform: rotate(270deg);
  position:absolute;
  right:50%;
}

@media (max-width: 600px){
    p{
        font-size:6vw;
    }
    html {

  margin-right: 0px;
        font-size:7vw;
    }
    h1{
	line-height: 15vw;
 line-height: 70%; 
 }
#sun {
    position:absolute;
    right:0%;
    height:5%;
    margin-top:35%;
    z-index:0;
}

html{position:absolute;
}
#rot {
  position:absolute;
  transform: rotate(270deg);
  height:5%;
  margin-top:50%;
  left:50%;
}
}

#lang {
  display: block;
  text-align: center;
}
